#main-header {
  background: $black;

  .et_menu_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px !important;
    height: $headerHeight;
    &:after {content: none;}
    @media screen and (max-width: 1024px) {padding: 0 20px !important;}
    @media screen and (max-width: 980px) {
      height: $headerHeightMobile;
      width: 100%;
    }
    @media screen and (max-width: 530px) {padding: 0 12px !important;}
  }

  .logo_container {
    width: auto;
    margin-right: 50px;
    position: relative;
    padding-left: 0;
    @media screen and (max-width: 1550px) {margin-right: 30px;}
    @media screen and (max-width: 768px) {margin-right: 15px;}
    @media screen and (max-width: 375px) {margin-right: 7px;}
    #logo {
      max-width: 100%;
      @media screen and (max-width: 1200px) {max-height: 30%;}
      @media screen and (max-width: 980px) {max-height: 60%;}
    }
  }

  .header-content {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: space-between;
    @media screen and (min-width: 981px) {
      border-bottom: 1px solid #3c353d;
      //padding: 19px 0;
    }
    @media screen and (max-width: 980px) {
      flex-direction: row-reverse;
      max-width: 50%;
    }
    @media screen and (max-width: 700px) {
      max-width: 100%;
    }
  }//.header-content

  #et-top-navigation {
    padding: 0 !important;
    @media screen and (min-width: 981px) {
      align-items: center;
      display: flex;
    }
  }

  #top-menu {
    margin-right: 40px;
    @media screen and (max-width: 1550px) {margin-right: 20px;}
    > .menu-item {
      @media screen and (max-width: 1500px) {padding-right: 10px;}
      &.menu-item-has-children a:after {content: none;}

      > a {
        color: #fff;
        font-size: 20px;
        font-weight: 300;
        line-height: 47px;
        opacity: 1 !important;
        padding-bottom: 0;
        position: relative;
        text-transform: uppercase;
        @media screen and (min-width: 981px) {padding: 19px 0;}
        &:after {
          background: transparent;
          bottom: 0;
          content: '';
          height: 1px;
          left: 0;
          opacity: 0;
          position: absolute;
          transform: translateY(10px);
          transition: $default-transition;
          width: 100%;
        }
        @media screen and (max-width: 1200px) {
          font-size: 16px;
          //&:after {bottom: -37px;}
        }
        @media screen and (max-width: 1024px) {font-size: 15px;}
        &:hover {
          color: $pink;
          &:after {
            background: $pink;
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
      &.current-menu-item > a {
        color: $pink;
        &:after {
          background: $pink;
          opacity: 1;
          transform: translateY(0);
        }
      }//&.current-menu-item

    }//.menu-item

    .sub-menu {
      border-color: $pink;
      left: -40px;
      a {
        font-size: 14px;
        text-transform: none;
      }
    }

  }//#top-menu

  #et_mobile_nav_menu {
    .mobile_menu_bar {
      padding: 0;
      &:before {
        color: #fff;
        transition: $default-transition;
      }
      &:hover:before {color: $pink;}
    }

    #mobile_menu {
      background: #fff;
      border-top-color: $pink;
      top: $headerHeightMobile;
      li a {color: $dark;}
    }
  }//#et_mobile_nav_menu




  .calendar {
    background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAABsUlEQVRIibWUMUtcQRSFP40RF0QhqIQFN412CzY2BtKksgxY5AckldjYCQGblLGwsBUsVKxki2CZpEgsDCRLdhtDioClIhsQNip6wujZ3fHlqVu8PTDMnDtn7rvvzp2LpOSYllSXtJGylzbeSzqWVEzupYm31EL/PY7zkfZNcr8HeME1ToGvQB8thP1JoJ//cQIcRfwhMAQUmxbdxIyk9YjnJFWUjqqkkYgv+HwT3YlongLLQAV464jHUqIOGA+xWb8HrANTNxSJaM4lzUkaljQh6cstUTewa13Qz/p8E126utbOIJmWTNHjuQqsZuj31VXVOD2lNh9Mu6OUVi0DwG+PRdt2zHfMlyJNwJbXP25LSwPhY0+8fuQ5b1vNfCjSBDw2/3Of8zow7/V3z++AYeDQfBMoR2dWgJJf+J3Og2Dbf/DXto9AL3Bm/g34GZ357JZxmXSedqE12z6Zl83L5mvRO8E6+dydF5opkmkJeAY8cNcLeAnkfB+4ipYj/Wv3oIt2nBfcPkM7/eVqGXQ17LtaCtaWrUlHBjlv+xFli04+/0bLPQA+ZBjzc2C0c/0c+AcGe7ODsJNFFAAAAABJRU5ErkJggg==") no-repeat center;
    background-size: 21px 21px;
    float: left;
    height: 23px;
    position: relative;
    top: -5px;
    //transition: opacity .5s ease-in .3s;
    width: 23px;
    &:hover {
      background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAABzklEQVRIicWVO0hcQRSGP58oiBpZQQQVQTshEmwi+EAbwSIpFEELBW1slBRpLRJIoxALW9FCZQvxAbKtCFYR4rtQlLXXQkHQFXww8N9wGO6yS1z0h+HOuXPOP8N//zk363vtDzx0AavACjDgL4ZgA2gGWoEju5AdkjwEFAD9QFEK4kqgG/gAfPEXc4GvmieAHRHb9aYkm9wCVybOAyJAgy1eNQk9KgrgNpyzBQbHQIeJ74E2YDl44cvitJsGDoGfOnFdmB5APfCs/D/AAvDZl8ViDIgDndJzzZPJIh9YB0aBX0AvMG4TnFuekxS/GmFuyRgCWZw/ZzPIO+xMEJCf68NkCu2O3JelGLjQmNC7mOKY4imT4xDV/MDfwXeL26xG8zI9K/XuWnHE5DhUKL5JRX4HfNN8V89JoBy4VLwE7JmaGVk2kYo8oYaVrRvnsClPPyj+C5yamm3dhSefPMyKB7pIUcUxxVbzuAbKi4dp/iY+t2gBckwD6wMK9T2Qi6xtR9SDHtMhr1b7dO30TG4pkRtO5JZq5e4pJ+2TL4psS5fhN/AR2Aca1dwGlZuVVJP30LzUi91pLdxv0I20yT8B8/93vlA4vn/kVUbHzAB4AST1WJyfD/2rAAAAAElFTkSuQmCC");
    }
    @media screen and (max-width: 980px) {
      margin-right: 20px;
      top: 3px;
    }
  }//.calendar
  .et_pb_menu_hidden .calendar {opacity: 0;}


  #et_top_search {
    color: #fff;
    margin-top: 0;
    @media screen and (min-width: 769px) {height: 18px;}
    #et_search_icon {transition: all .3s; &:hover {color: $pink;}}
  }

  .et_search_outer {
    .container {
      margin: 0;
      @media screen and (max-width: 980px) {
        padding: 0 30px;
        width: 100%;
      }
    }
    .et-search-form,
    .et_close_search_field {
      color: #fff;
      //right: 50%;
      //transform: translateX(50%);
    }
    .et-search-field {
      color: #fff;
      padding-right: 30px;
    }

    .et-search-form {
      background: #101010 !important;
      right: 0 !important;
      transform: none;
      @media screen and (min-width: 981px) {
        //left: 350px !important;
        max-width: 100% !important;
        width: 100% !important;
      }
      @media screen and (max-width: 980px) {
        max-width: 75% !important;
        width: 75% !important;
      }
      @media screen and (max-width: 630px) {
        max-width: 100% !important;
        width: 100% !important;
      }
    }//.et-search-form

    .et_close_search_field {
      right: 30px;
      transform: none;
    }
  }//.et_search_outer




  #et-info {
    align-items: center;
    display: flex;
    padding: 0;
    @media screen and (min-width: 700px) and (max-width: 980px) {
      transform: translateX(-50%);
    }
    @media screen and (max-width: 630px) {margin-right: 15px;}
  }


  .maillist {
    max-width: 275px;
    position: relative;
    @media screen and (max-width: 1440px) {max-width: 225px;}
    @media screen and (max-width: 590px) {display: none;}

    input[type="email"] {
      background: #29222a;
      border-radius: 30px;
      border: none;
      color: #fff;
      font-size: 15px;
      font-weight: 300;
      height: 47px;
      line-height: 47px;
      max-width: 100%;
      padding: 0 60px 0 30px;
      text-transform: uppercase;
      @include placeholder {color: rgba(255,255,255,.5);}
      @media screen and (max-width: 1440px) {
        font-size: 13px;
        height: 40px;
        line-height: 38px;
        padding: 0 40px 0 15px;
      }
    }
    input[type="submit"],
    .wpcf7-submit {
      background: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAARCAYAAADHeGwwAAAA90lEQVQ4jb2Uva5BQRSFlxtRKW6j9gQSya3VGo2H0IrOW+i5r6DTUKI/D6BUaEUjGj4Z2SOTiX/GSvbJyey9vpWZ85MDZpJqSqO5CyAR/KQfScOE/KHcBoAGsORzWhpTPsBVEegB+zfAe2MUPdddBsBvEPQHZC/AM/N6jmMOZM0V0AyaeaANrB8Ar202H/ibxkTR8AgoB4MloA8cLoAP1isF82VjnBUHOG2BLlAIjFVgHMyMbc33C+bZxrBLAV6L6NhcVawUHcfiGuRWgNc0enjhyzC9Z37mS55I+rf7lqT6I6av/CqS6isBu4T8nQvoSNokgG8kdY6IVdie9OLVhAAAAABJRU5ErkJggg==) no-repeat center;
      border: none;
      color: transparent;
      height: 47px;
      position: absolute;
      right: 10px;
      font-size: 0;
      width: 40px;
      &:hover {color: $pink;}
      @media screen and (max-width: 1440px) {
        background-size: 20px;
        height: 38px;
      }
    }

    .ajax-loader {display: none;}

    .wpcf7-response-output {display: none !important;}

  }//.maillist


  .shortcode {
    border-top: 1px solid #333;
    margin: 0 5%;
    padding-top: 24px;
    position: relative;
    @media screen and (min-width: 591px) {display: none;}

    input[type="email"] {
      background: #29222a;
      border-radius: 30px;
      border: none;
      color: #fff;
      font-size: 15px;
      font-weight: 300;
      height: 47px;
      line-height: 47px;
      max-width: 100%;
      padding: 0 60px 0 30px;
      text-transform: uppercase;
      width: 100%;
      @include placeholder {color: rgba(255,255,255,.5);}
      @media screen and (max-width: 1440px) {
        font-size: 13px;
        height: 40px;
        line-height: 38px;
        padding: 0 40px 0 15px;
      }
    }
    input[type="submit"],
    .wpcf7-submit {
      background: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAARCAYAAADHeGwwAAAA90lEQVQ4jb2Uva5BQRSFlxtRKW6j9gQSya3VGo2H0IrOW+i5r6DTUKI/D6BUaEUjGj4Z2SOTiX/GSvbJyey9vpWZ85MDZpJqSqO5CyAR/KQfScOE/KHcBoAGsORzWhpTPsBVEegB+zfAe2MUPdddBsBvEPQHZC/AM/N6jmMOZM0V0AyaeaANrB8Ar202H/ibxkTR8AgoB4MloA8cLoAP1isF82VjnBUHOG2BLlAIjFVgHMyMbc33C+bZxrBLAV6L6NhcVawUHcfiGuRWgNc0enjhyzC9Z37mS55I+rf7lqT6I6av/CqS6isBu4T8nQvoSNokgG8kdY6IVdie9OLVhAAAAABJRU5ErkJggg==) no-repeat center;
      border: none;
      color: transparent;
      font-size: 0;
      height: 47px;
      position: absolute;
      right: 10px;
      width: 40px;
      &:hover {color: $pink;}
      @media screen and (max-width: 1440px) {
        background-size: 20px;
        height: 38px;
      }
    }

    .ajax-loader {display: none;}

    .wpcf7-response-output {display: none !important;}


  }//.shortcode


  .et-social-icons {
    line-height: 1;
    @media screen and (max-width: 1250px) {display: none;}
    li {
      @media screen and (max-width: 1440px) {margin-left: 10px;}
    }
    .et-social-icon a {
      color: #fff;
      font-size: 20px;
      &:hover {color: $pink;}
      @media screen and (max-width: 1440px) {font-size: 16px;}
    }
  }//.et-social-icons


}//#main-header