.section-content {
  font-size: 18px;
  font-weight: 100;
  line-height: 1.55;
  padding-top: 50px !important;

  .lead {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.33;
  }
  strong {font-weight: 500;}

  .et_pb_row {
    max-width: 800px;
  }

  .et_pb_image {
    @media screen and (min-width: 980px) {margin: 50px auto 60px !important;}
  }

}//.section-content




.section-who-we-are {
  background: #f5f5f5;
  padding-top: 40px !important;
  //margin-bottom: 75px;
  //padding-bottom: 115px !important;
}//section-who-we-are

.team-list {
  background: #fff;
  z-index: 10;
  &.et_pb_row {padding: 30px 40px;}
  ~ .team-list {z-index: 5;}

  .section-who-we-are & {padding: 60px 40px 30px;}

  @media screen and (max-width: 1024px) {width: 95%;}
  @media screen and (max-width: 768px) {padding: 50px 30px;}
  @media screen and (max-width: 475px) {padding: 30px 15px;}
  .et_pb_column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &:before, &:after {
      content: '';
      display: block;
      height: 0;
      max-width: 300px;
      order: 1;
      width: 24%;
      @media screen and (max-width: 980px) {width: 32%;}
      @media screen and (max-width: 680px) {width: 48%;}
    }
  }

}//.team-list

.hidden-team {
  overflow: hidden;
  padding: 0 !important;
  .team-list {
    position: absolute;
  }
}

.team-list .et_pb_team_member,
.single-bio .et_pb_team_member {
  margin-bottom: 30px;
  max-width: 300px;
  overflow: hidden;
  transition: none;
  width: 24%;
  &:not(.popup) {cursor: pointer;}
  &:hover {
    .et_pb_team_member_image {filter: grayscale(0);}
    .et_pb_team_member_description {
      background: #000;
      .et_pb_module_header {color: #fff;}
      .et_pb_member_position {color: #d950ef;}
      > div {transform: translateX(0) !important;}
    }
  }
  @media screen and (max-width: 980px) {width: 32%;}
  @media screen and (max-width: 680px) {width: 48%;}

  .et_pb_team_member_image {
    display: block;
    filter: grayscale(1);
    float: none;
    margin: 0;
    transition: filter .3s;
    width: auto;
  }
  .et_pb_team_member_description {
    display: block;
    padding: 20px 10px 23px;
    text-align: center;
    transition: background .3s;
    width: 100%;
    @media screen and (max-width: 425px) {padding: 10px 5px 15px;}

    .et_pb_module_header {
      color: #101010;
      font-size: 24px;
      font-weight: 400;
      line-height: 1.33;
      letter-spacing: -1px;
      padding-bottom: 3px;
      transition: color .3s;
      @media screen and (max-width: 768px) {font-size: 22px;}
      @media screen and (max-width: 425px) {font-size: 20px;}
    }
    .et_pb_member_position {
      color: #872397;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.43;
      letter-spacing: -1px;
      transition: color .3s;
      @media screen and (max-width: 768px) {font-size: 14px;}
      @media screen and (max-width: 425px) {font-size: 13px;}
    }
  }//.et_pb_team_member_description

  &:not(.popup) .et_pb_team_member_description > div {
    background: #752182;
    border-radius: 0 30px 30px 0;
    bottom: 100%;
    color: #fff;
    font-size: 14px;
    height: 32px;
    left: 0;
    line-height: 32px;
    margin-bottom: 20px;
    padding: 0 25px;
    position: absolute;
    text-transform: uppercase;
    transform: translateX(-100%);
    transition: $default-transition;
    white-space: nowrap;
    @media screen and (min-width: 425px) {letter-spacing: -1px;}
    @media screen and (max-width: 768px) {font-size: 12px;}

    p:not(:first-child) {display: none;}
  }

  //POPUP
  &.popup {
    align-items: center;
    background: rgba(0,0,0,.85);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    margin: 0;
    max-width: 100%;
    overflow: auto;
    padding: 3%;
    position: fixed;
    right: 0;
    top: 0;
    width: auto;
    z-index: 999;
    @media screen and (max-width: 699px) {
      background: #fff;
      flex-direction: column;
      justify-content: flex-start;
      //top: 72px;
    }

    .et_pb_team_member_image {
      background: #fff;
      display: block;
      filter: none;
      height: 100%;
      margin: 0;
      max-height: 645px;
      max-width: 510px;
      padding: 60px 30px 60px 60px;
      width: 100%;
      @media screen and (max-width: 1200px) {
        padding-left: 35px;
        max-width: 470px;
      }
      @media screen and (max-width: 980px) {
        max-height: 570px;
        max-width: 300px;
        padding-right: 10px;
        //padding-left: 40px;
      }
      @media screen and (max-width: 767px) {max-width: 250px;}
      @media screen and (max-width: 699px) {
        height: auto;
        max-width: 100%;
        padding-right: 40px;
        padding-bottom: 0;
        padding-top: 20px;
      }

      img {
        height: 100%;
        max-height: 440px;
        max-width: 400px;
        object-fit: contain;
        position: relative;
        width: 100%;
        z-index: 1;
        @media screen and (max-width: 980px) {
          height: auto;
          max-height: 300px;
        }
      }

    }//.et_pb_team_member_image

    .et_pb_team_member_description {
      background: #fff;
      height: 100%;
      margin: 0;
      max-height: 645px;
      max-width: 835px;
      padding: 60px 60px 60px 0;
      width: 100%;
      @media screen and (max-width: 980px) {
        max-height: 570px;
        //padding-left: 10px;
        padding-right: 40px;
      }
      @media screen and (max-width: 699px) {
        height: auto;
        max-height: 100%;
        padding-left: 40px;
      }

      .et_pb_module_header {
        align-items: flex-end;
        background: #752182;
        color: #fff;
        display: flex;
        font-size: 45px;
        font-weight: 600;
        height: 130px;
        text-align: left;
        margin-top: -60px;
        padding-bottom: 50px;
        position: relative;
        &:before {
          background: #752182;
          content: '';
          position: absolute;
          width: 130px;
          height: 100%;
          top: 0;
          right: 100%;
        }
        + div {margin-top: 25px;}

        @media screen and (max-width: 1215px) {
          height: auto;
          min-height: 130px;
          padding-top: 10px;
          padding-right: 15px;
        }
        @media screen and (max-width: 980px) {
          font-size: 36px;
          min-height: 90px;
          padding-bottom: 30px;
        }
        @media screen and (max-width: 767px) {
          height: auto;
          padding: 15px 0 30px;
        }
        @media screen and (max-width: 699px) {
          margin-left: -40px;
          margin-right: -40px;
          padding-left: 40px;
          padding-right: 40px;
          &:before {content: none;}
        }

      }//.et_pb_module_header

      .et_pb_member_position {
        color: #fff;
        font-size: 18px;
        line-height: 1.27;
        text-align: left;
        transform: translateY(-55px);
        @media screen and (max-width: 980px) {transform: translateY(-33px);}
      }
      > div {
        font-size: 16px;
        line-height: 1.5;
        text-align: left;
        @media screen and (min-width: 700px) {

          @media screen and (max-width: 980px) {max-height: 95%;}

          overflow: auto;
          max-height: 430px;
          padding: 0 20px 0 0;

          //Цвет дорожки, по которой двигается бегунок прокрутки.
          &::-webkit-scrollbar-track {background-color: #e3e3e3;}
          //Цвет бегунка полосы, а так же его закругление.
          &::-webkit-scrollbar-thumb {
            border-radius: 0;
            background-color: $violet;
          }
          &::-webkit-scrollbar-thumb:hover{background-color: darken($violet, 5%);}
          //Основная ширина полосы прокрутки.
          &::-webkit-scrollbar{width: 2px;}

        }

        @media screen and (max-width: 767px) {font-size: 14px;}
        @media screen and (max-width: 699px) {padding-bottom: 30px;}

        p:first-child {display: none;}
      }
    }//.et_pb_team_member_description



    .close {
      background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAAeklEQVRIibWVSQrAIBAE+5/5V74oBF+QiyLEHBLErWsueunqYZhFkqKkQ94ovFA/t9Hgx3MZNDm7Bl39qsGwbtZgOqFRwXIpe8LtJmgBbO37Bbnn4gWebnCNAk7Paw0sc6zmWLdgfY5NKLZbsK2I7XPsEqE39EKuvxQz3QxKgTNh2XYAAAAASUVORK5CYII=") no-repeat center;
      cursor: pointer;
      height: 23px;
      opacity: .7;
      position: absolute;
      right: 19px;
      top: 20px;
      width: 23px;
      &:hover {opacity: 1;}
      @media screen and (max-width: 980px) {right: 9px;}
    }


  }//.popup

  &:not(.popup):not(.staff) .et_pb_member_position {display: none;}

}//.et_pb_team_member

.single-bio .et_pb_team_member {
  margin: auto;
  width: 100%;
}