.section-contacts {
  color: #060606;
  font-size: 24px;
  font-weight: 300;
  @media screen and (max-width: 500px) {font-size: 20px;}

  .et_pb_row {
    @media screen and (max-width: 980px) {width: 90%;}
    @media screen and (max-width: 500px) {width: 100%;}
  }
  .et_pb_text {
    @media screen and (max-width: 500px) {padding: 0 15px;}
  }

  p {
    padding-bottom: 0;
    span {
      padding: 0 20px;
      @media screen and (max-width: 500px) {padding: 0 5px;}
    }
  }

  a {
    display: inline-block;
    background-position: left center;
    background-repeat: no-repeat;
    padding: 0 20px 0 40px;
    margin: 0 10px;
    &[href*="tel"] {
      background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAeCAYAAAAhDE4sAAAAyklEQVRIie2WPQrCQBBGX0KwiEg8RhbUK+hV7ETttFcPINY25hy5gB7AYq6hoGmVgQ0ESQIrKfer5mf3zUyzs0Gapj3gCMyBPm56AxmwiYATsHQElNLCayDQjpQa/wkqVYQdQFRxVHEOIrJ3uW2M0fM7tcMOusGDPMiDPMiD2qRb5GPtJ/BwvD8EEjWqj39SBn9014LAqI3YNpp2OhWRiYiMgZmNNYKKhtwLuFX8q43VqdDRdHevapIDIDfGnK2/sLE6ZV18Ii7A9gt0+CX/xPSPiwAAAABJRU5ErkJggg==");
    }
    &[href*="mailto"] {
      background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAUCAYAAACeXl35AAABeElEQVRIieXUz4vNYRTH8dcdhI2FspAVFu53av4DSyVZWGoiUYSN8iMLxYKy8assRNRIs2BJSWLpb5hParCShTKlJlPo6stz9e023bmYvhtn95w+z3mf55znnE63232IvdqxRzWw1xLsp41hvkXefA2cwIsWYDVjotPr/apoVVUHcQ3rlxn0CaeT3K8Pv4EFugE3sG+ZYNM4leRj31F/mic4nuR9A7wDt7H1L0FvcCzJy0bMTbjV/6WfcQb3kvSKYA3O4SxWjwhawBVcTrJQ4nRwGFexbnAsXuFokplGZptLmfcsAXuMk0neNe6O4w62932LzeHXks2lJF8al3fiOsYH9DOlT88b2rU4X6q2qikeNvhvcSLJ00agldhfv6S46pdPJ/nW0OzGTWxZLOgom+ZZKdXrYaKqqraVBHYN04262r7jLi4m+TAA2ogLOIIVSwX6011a93cKD8r5AA4N9mk5gf9sY23C/h/gXIu8uRo4idkWYLOY/AF423iQZs9djAAAAABJRU5ErkJggg==");
    }
  }
}//.section-contacts


.section-directions {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  @media screen and (max-width: 500px) {font-size: 20px;}


  .et_pb_row {
    @media screen and (max-width: 980px) {width: 90%;}
    @media screen and (max-width: 500px) {width: 100%;}
  }
  .et_pb_text {
    @media screen and (max-width: 500px) {padding: 0 15px;}
  }

  h4 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.16;
    margin-bottom: 5px;
  }


  .et_pb_button {
    background: $violet url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAASCAYAAABb0P4QAAABRElEQVQ4jZ3UPUtdQRDG8Z9XsRDlKr5UQrQRtBAlTQoh2otI0ugXyOdJZSHYWYkKYqdlAmkCIoipDIpgJyG+IiorK3tluXrxnPvAcJjZ3f/OnHNmWkIIkloxh0HldIltnEenLVv4hiVc4bEEsIotzD97McNkv0IIdyGEahYrYj/SuZ7oV9ItQ/iEHfwvWfIa2vElOjXgQrZYVhuxUCzmJe83WW5e9mMIoTd+lG6MYw+TTWQY9QdTmIm/zUf8bhJUr+X4DjvrgqHB5kbK9/dVMucfJtCFzQKgvxhGP37WgjlwF/u4jqkXAK7jOHXI6lvAaXxI3bNYADiLXnTgay2Yt94AjnCTyn5PYzjDQ4K+AkoDogispvZkL6o03tuc6jM8wEpJxueXSZOA+ag6xPeSwNsMeB87JUJHU+AEFyWB8fzI85PTJ+zStIOG722TAAAAAElFTkSuQmCC") no-repeat 25px center;
    border: 2px solid $violet !important;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    padding-left: 55px !important;
    padding-right: 28px !important;
    text-transform: uppercase;
    @media screen and (min-width: 981px) {margin: 20px 0 18px;}
    &:hover {
      background-color: transparent !important;
      background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAASCAYAAABb0P4QAAABQ0lEQVQ4jZ3UMUscQRgG4MfzuEIUlWiqQDzsLCR2FgG1sBAkBNPkmpT+A/9AfoFVCsHOSjQQ0yWFRRKwk0DQyqAI6eQIGgWNnAzMhuFiyM6+sMV8szzMtzszPSvN12J68QyP5OUc73EWBvVkYhlvcIHbDHAQ7/C8G3yF67jCnxngJyxgGO1aLI5hGh8ysZBNNLAUBgX4MpnMzTY6aKVgK7a7UwH8gS+Yw4PwDYcwiX1MVQBDDvE0oAEcj8WA7VYEi8yHlvu7ip1MJH1/pJYM2niCAbwtAX1HE6P4XBRT8CO+4hfWSoBbOI4nZOM+cBaP42ZvlQAXw19FH14UxfSkPMQRLmPb/8tE3DK/I/oXKF4QZbAijfj8Se3f71ZL9wq/YT3TmClumgJMr6oDrGaCVwl4E8C9ePRCTjKxkNBRuMLqOL0D0gg3IURl8bEAAAAASUVORK5CYII=");
      color: $violet;
      padding-left: 55px !important;
      padding-right: 28px !important;
    }
  }

  iframe {
    border: 1px solid #d8d8d8;
  }

}//.section-directions




.section-share {

  .et_pb_social_media_follow li {
    height: 53px;
    margin: 10px;
    width: 53px;

    .icon {
      height: 100%;
      width: 100%;
      &:hover {background: #282828 !important;}
      &:before {
        height: 100%;
        font-size: 28px;
        line-height: 53px;
        width: 100%;
       }
    }

  }//.et_pb_social_media_follow li

  .et_pb_code {display: none;}


  .sfsi_shortcode_container {
    float: none;

    .norm_row {
      float: none;
      margin: auto;
      text-align: center !important;
    }

    .sfsi_wicons {
      height: 53px !important;
      margin: 10px !important;
      padding-top: 0;
      width: 53px !important;
      &:hover .sficn {background: #282828 !important;}
      .sficn {
        background: $violet;
        border-radius: 50%;
        &:before {
          color: #fff;
          font-family: ETmodules!important;
          speak: none;
          font-style: normal;
          font-weight: 400;
          -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
          font-variant: normal;
          text-transform: none;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          text-shadow: 0 0;
          -webkit-transition: color .3s;
          transition: color .3s;
          z-index: 10;
          height: 100%;
          font-size: 28px;
          line-height: 53px;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
        &#sfsiid_facebook:before {content: "\e093";}
        &#sfsiid_twitter:before {content: "\e094";}
      }//.sficn

      .sfcm.sfsi_wicon {
        display: block;
        opacity: 0;
        //visibility: hidden;
      }

      .bot_arow {display: none;}

      .sfsiTlleft {
        box-shadow: none;
        border: none;
        background: none;
        margin: 0 !important;
        padding: 0 !important;
        width: 59px !important;
        display: block !important;
        left: -3px;
        top: -3px;
        bottom: 0;
        right: 0;
        height: 59px;

        .sfsi_inside {
          float: none;
          height: 100%;
          div {
            height: 100%;
            display: block;
            margin: 0 !important;
            width: 100%;
            a {
              display: block;
              height: 100%;
              width: 100%;
              img {
                display: block;
                height: 100%;
                opacity: 0;
                width: 100%;
              }
            }
          }
        }
      }//.sfsiTlleft

    }//.sfsi_wicons

  }//.sfsi_shortcode_container

}//.section-share