.performance-hero-title {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.5;
  @media screen and (min-width: 981px) {
    align-items: center;
    display: flex;
    height: 480px;
  }

  h1 {
    color: #fff;
    font-size: 90px;
    letter-spacing: -3px;
    margin-bottom: 15px;
    padding-bottom: 0;
    @media screen and (max-width: 768px) {font-size: 80px;}
    @media screen and (max-width: 580px) {font-size: 60px;}
    @media screen and (max-width: 475px) {font-size: 50px;}
  }

}//.performance-hero-title



.section-announcement {
  color: #060606;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;

  strong {font-weight: 500;}

  .et_pb_divider + .et_pb_text p {padding-bottom: 0;}

}//.section-announcement



.section-performance-dates {
  color: #000;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.33;
  padding-bottom: 35px !important;
  padding-top: 35px !important;

  .et_pb_row {
    justify-content: center;
    @media screen and (max-width: 1100px) {width: 95%;}
  }
  .et_pb_column {
    background: #fff;
    border: 1px solid #d8d8d8;
    margin: 15px;
    max-width: 320px;
    transition: $default-transition;
    @media screen and (max-width: 980px) {width: 47% !important;}
    @media screen and (max-width: 550px) {width: 100% !important;}
    &:first-child {
      @media screen and (min-width: 981px) {margin-left: 0;}
    }
    &:hover {
      background: $violet;
      .et_pb_text:first-child {background: #55185f;}
      .et_pb_text:nth-child(2),
      .et_pb_text:last-child {
        //background: $violet;
        color: #fff;
      }
      h4 {color: #fff !important;}
      //.et_pb_button_module_wrapper {background: $violet;}
      .et_pb_button {
        background: #fff;
        color: #000;
      }
    }//.et_pb_column:hover

    .et_pb_text:first-child {
      background: #0b030d;
      color: #fff;
      padding: 47px 25px 35px;
      transition: $default-transition;
      h4 {
        color: $pink;
        font-size: 40px;
        font-weight: 400;
        letter-spacing: -2px;
        margin-bottom: 3px;
      }
    }

    .et_pb_text:nth-child(2) {
      padding: 25px 20px;
      transition: $default-transition;
    }

    .et_pb_button_module_wrapper {transition: $default-transition;}
    .et_pb_button {
      background: $violet;
      border-radius: 30px;
      border: none;
      color: #fff;
      font-size: 17px;
      font-weight: 600;
      height: 55px;
      line-height: 55px !important;
      margin-bottom: 35px;
      padding: 0 !important;
      text-transform: uppercase;
      width: 137px;
    }

    .et_pb_button_module_wrapper + .et_pb_text:last-child {
      font-size: 14px;
      padding: 0 20px 35px;
      transition: $default-transition;
    }

  }//.et_pb_column

}//.section-performance-dates



.section-performance-title {
  color: #fff;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 1.3;
  padding: 35px 0 !important;
  @media screen and (max-width: 600px) {
    p {font-size: 40px;}
  }
}//.section-performance-title


.section-performance-info {
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;
  padding-top: 5px !important;

  .title-row {
    @media screen and (min-width: 981px) {
      &:before {
        background: $violet;
        content: '';
        height: 1px;
        position: absolute;
        top: 55px;
        width: 100%;
      }
    }
    @media screen and (max-width: 1200px) { &:before {top: 50px;} }

    .et_pb_column:first-child .et_pb_text:first-child .et_pb_text_inner {padding-right: 30px;}
    .et_pb_column:last-child .et_pb_text:first-child .et_pb_text_inner {padding-left: 30px;}

  }//.title-row

  .title-row .et_pb_text:first-child {
    font-size: 35px;
    font-weight: 100;
    margin-bottom: 30px;
    position: relative;
    @media screen and (max-width: 980px) {
      &:before {
        background: $violet;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        top: 50%;
        width: 100%;
      }
    }

    .et_pb_text_inner {
      background: #fff;
      display: inline-block;
    }
    &.hidden-title .et_pb_text_inner {visibility: hidden; opacity: 0;}
  }//.et_pb_text:first-child

  .synopsis-text {
    max-height: 525px;
    overflow: auto;
    padding-right: 20px;
    &.h-550 {max-height: 550px;}
    &.h-600 {max-height: 600px;}
    &.h-650 {max-height: 650px;}
    &.h-700 {max-height: 700px;}
    &.h-750 {max-height: 750px;}
    &.h-800 {max-height: 800px;}
    &.h-850 {max-height: 850px;}
    &.h-900 {max-height: 900px;}
    &.h-950 {max-height: 950px;}
    &.h-1000 {max-height: 1000px;}

    //Цвет дорожки, по которой двигается бегунок прокрутки.
    &::-webkit-scrollbar-track {background-color: #e3e3e3;}

    //Цвет бегунка полосы, а так же его закругление.
    &::-webkit-scrollbar-thumb {
      border-radius: 0;
      background-color: $violet;
    }

    &::-webkit-scrollbar-thumb:hover{background-color: darken($violet, 5%);}

    //Основная ширина полосы прокрутки.
    &::-webkit-scrollbar{width: 2px;}

    h2 {margin: 30px 0 10px;}

  }//.synopsis-text


  table {
    border: none !important;
    color: #000;
    font-size: 18px;
    width: 100%;
    td {
      border: none;
      line-height: 1;
    }
    td:first-child {
      padding-left: 0;
      vertical-align: top;
      width: 45%;
    }
    td:last-child {
      color: $violet;
      font-weight: 500;
      line-height: 1.3;
      vertical-align: bottom;
    }
  }//table

  hr {
    border-color: #e3e3e3;
    margin: 20px 0;
    opacity: .4;
  }

  small {
    color: #000;
    font-size: 14px;
    font-weight: 300;
  }

  .et_pb_column:first-child {
    h2 {margin: 30px 0 10px;}
  }//.et_pb_column

  .et_pb_column:last-child {
    h2 {margin: 30px 0 10px;}
  }//.et_pb_column


  [id^="popup"] {
    background: rgba(0,0,0,.8);
    bottom: 0;
    box-shadow: 0 0 50px -5px;
    height: 100vh;
    display: none;
    left: 0;
    margin: auto !important;
    padding: 40px;
    position: fixed;
    right: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 999;
    &.show {display: block;}

    .et_pb_blurb_content {
      background: #fff;
      bottom: 0;
      height: 80vh;
      left: 0;
      margin: auto;
      max-width: 800px;
      padding: 40px;
      position: absolute;
      right: 0;
      top: 0;

      .et_pb_main_blurb_image {
        cursor: pointer;
        position: absolute;
        right: 7px;
        top: 7px;
        margin: 0;
      }
      .et_pb_blurb_container {
        height: 100%;
        overflow: auto;
        padding-right: 20px;

        //Цвет дорожки, по которой двигается бегунок прокрутки.
        &::-webkit-scrollbar-track {background-color: #e3e3e3;}

        //Цвет бегунка полосы, а так же его закругление.
        &::-webkit-scrollbar-thumb {
          border-radius: 0;
          background-color: $violet;
        }

        &::-webkit-scrollbar-thumb:hover{background-color: darken($violet, 5%);}

        //Основная ширина полосы прокрутки.
        &::-webkit-scrollbar{width: 2px;}
      }//.et_pb_blurb_container
    }//.et_pb_blurb_content

    .et_pb_text_inner {
      height: 100%;
      overflow: auto;
    }
  }

}//.section-performance-info


.et_section_specialty {
  > .et_pb_row {
    max-width: 1815px;
    width: 95%;
    @media screen and (min-width: 769px) {display: flex;}

    > .et_pb_column {
      @media screen and (min-width: 769px) {
        width: 40%;
        &:first-child {width: 20%;}
      }
      &:nth-child(2) {padding: 0;}
    }
  }

  .et_pb_column {padding: 5px;}


  .et_pb_image {
    height: 100%;
    overflow: hidden;
    .et_pb_image_wrap {
      display: block;
      height: 100%;
      img {
        height: 100%;
        object-fit: cover;
        transition: all 4s;
        width: 100%;
      }
    }
    &:hover img {transform: scale(1.2);}
  }//.et_pb_image


  ~ .et_section_specialty {
    > .et_pb_row > .et_pb_column {
      @media screen and (min-width: 769px) {
        &:first-child {width: 40%;}
        &:last-child {width: 20%;}
      }
    }
  }

  ~ .images {
    > .et_pb_row {
      max-width: 1815px;
      width: 95%;
      @media screen and (min-width: 769px) {display: flex;}
    }

    .et_pb_column {padding: 5px;}

    .et_pb_image {
      height: 100%;
      overflow: hidden;
      .et_pb_image_wrap {
        display: block;
        height: 100%;
        img {
          height: 100%;
          object-fit: cover;
          transition: all 4s;
          width: 100%;
        }
      }
      &:hover img {transform: scale(1.2);}
    }//.et_pb_image

  }

}//.et_section_specialty


.single-bio {
  margin-top: 15px;
  padding: 50px 0;
  &:before {
    background: $violet;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .et_pb_column:first-child {z-index: 9;}

  .et_pb_button {
    background: $violet;
    border: 1px solid #752182 !important;
    color: #fff;
    height: 34px;
    line-height: 34px !important;
    text-transform: uppercase;
    width: 101px;
    text-align: center;
    padding: 0 !important;
    border-radius: 30px;
    font-size: 14px;
    font-weight: normal;
    margin-top: 20px;
    &:hover {
      background: transparent;
      color: $violet;
      line-height: 34px !important;
      padding: 0 !important;
    }
  }

}//.single-bio

.custom-column-width {
  .et_pb_column:first-child {
    @media screen and (min-width: 981px) {width: 40.2% !important;}
  }
  .et_pb_column:last-child {
    @media screen and (min-width: 981px) {width: 53.5% !important;}
  }
}